@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-weight: unset;
}
body{
  width:100%;
  height:100%;
}

.social-container {
  display: flex;
    color:azure;
    width:auto;
    height:50px;
    bottom: 0;
    clear:both;
    float:left;
  }
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  a.youtube {
    color: #eb3223;
  }
  a.whatsapp {
    color: #0ea816;
  }
  a.github {
    color: #4d066e;
  }
  a.linkedin {
    color: #27168a;
  }
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.instagram {
    color:orangered;
  }
  .footer{
    display: flex;
    background-color: rgb(42, 43, 48);
    border-top: 1px solid grey;
    text-align: center;
    padding: 20px;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
    color: rgb(235, 242, 243);
  }

  /* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}


  @media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}