@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-weight: unset;
}
body{
  max-width: 1200;
  height:100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.social-container {
  display: inline-block;
    color:azure;
    height:40px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  img{
    position: relative;
  }
  
  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  a.youtube {
    color: #eb3223;
  }
  a.whatsapp {
    color: #0ea816;
  }
  a.github {
    color: #4d066e;
  }
  a.linkedin {
    color: #27168a;
  }
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.instagram {
    color:orangered;
  }
  a.tiktok{
    color: white;
  }

  .row-no-gutters{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
  }

  .btn-rounded {
    background-color: rgb(11, 11, 49);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;
  }
  
  .btn-rounded:hover {
    background-color: purple;
    color: black;
    transition-timing-function: ease-in-out;
    transition: 0.3s;
    text-decoration: none;
  }

  .relative{
    display: flex;
    flex-direction: column;
  }
  /* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}


  @media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}

@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 